@import "../../../MainVariables.scss";

.profile-form {
  padding: 40px;
  border-radius: $radius;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 600px;

  &__img {
    margin: 0 auto;
    object-fit: cover;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }

  &-buttons {
    display: flex;
    gap: 10px;
    margin-top: 120px;
  }

  .form-link--top {
    margin-top: 4px;
  }
}

@media screen and (max-width: 600px) {
  .profile-form {
    width: 90%;
  }
}
