$radius: 10px;
$color: rgb(0, 172, 238);

@mixin button {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: $radius;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.button--red {
  @include button;
  background-color: red;

  &:hover {
    font-size: 1rem;
  }
}

.button--green {
  @include button;
  background-color: green;

  &:hover {
    font-size: 1rem;
  }
}

.auth-title {
  color: $color;
  text-align: center;
  padding: 10px;
}

.form-link {
  padding-block: 4px;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: all 0.5s;

  &:hover {
    border-radius: $radius;
    background-color: $color;
    color: white;
  }
}

.hidden {
  display: none;
}
