.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;

  &__image--404 {
    width: 50%;
    height: 20%;
  }

  &__image--robot {
    width: 50%;
    height: 45%;
  }
}
